# 1. data files
data/
raw_data/
processed_data/
documents/
*.csv
*.xlsx
*.parquet
*.rds

# 2. environment files
.env
.venv/
venv/
conda-env/
README_RESEARCH.md

# 3. Mac
.DS_Store

# 4. Python
__pycache__/
*.pyc
*.pyo
*.pyd

