# data files
data/
raw_data/
processed_data/
documents/
*.csv
*.xlsx
*.parquet
*.rds

# environment files
.env
.venv/
venv/
conda-env/
README_RESEARCH.md
configs/

# Mac
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Results/logs
results/
logs/

# R
r/

# development files
scripts/10_run_dev.py